@charset "utf-8"
/*
        em HTML é id     = em CSS é #    --OBS: id eu só posso usar 1x, já class eu posso usar varias vzes                                e posso usar id e class na mesma tag
        em HTML é class  = em CSS é .
*/

body {
    background-color: #00E0B3;
}
h1{
    color: #00E01A;
}

h1#principal{
    color: white;
    text-align: center;
    background-color: #4BE05C;
}

h2{
    color: #00E066;
}

.basico{
    color: yellow;
}

.intermediario{
    color: red;
}
 
.avancado{
    color: blue;
}